/*Αρχικοποίηση μεταβλητής για το βασικό χρώμα που θα χρησιμοποιηθεί στις ιστοσελίδες*/
:root {
    --blue: #127b88;
}


/* Σταθερό header με το όνομα της ιστοσελίδας μας, όσο σκολλάρουμε και πλοηγούμαστε */
header {
    width: 100%;
    background-color: var(--blue);
    background: linear-gradient(var(--blue), white);
    border-bottom: 1px;
    border-bottom-color: #a9ccd2;
    border-bottom-style: solid;
}

/* Τοποθέτηση της επικεφαλίδας του header στο κέντρο */
header h1 {
    color: #ffffff;
    font-family: "Copperplate", fantasy;
    font-style: italic;
    font-weight: lighter;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0, 1px 1px 0 #000;
    text-align: center;
    text-shadow: none;
}

/* Αφαίρεση της γραμμής του a href από την επικεφαλίδα του header */
header a {
    color: #882012;
    text-decoration: none;
}

/* Στιλ στην επικεφαλίδα του header όταν ο χρήστης βάζει το ποντίκι πάνω από αυτήν, για να πλοηγηθεί στην αρχική οθόνη index.html */
header a:hover {
    color: #882012;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0, 1px 1px 0 #000;
}

/* Στιλ παραγράφων με σκίαση*/
p {
    font-family: "Verdana", sans-serif;
    text-shadow: 0px 1px;
}

/*Διαταξη της about us*/
#about-us {
    text-align: center;
    margin-bottom: 3em;
}

footer p {
    text-align: center;
}

footer a {
    color: whitesmoke;
}

/*Θέλουμε να καλύψουμε όλο το εύρος της οθόνης για σωστή τοποθέτηση footer,
ανεξαρτήτως το περιεχόμενο κάθε ιστοσελίδας*/
html,body {
    width: 100%;
    height: 100%;
}

/*Main Grid for the display it includes( header - main - footer)*/
.body-grid-container {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-rows:80px 1fr 100px;
}

/*Ορισμος οριων grid για το footer*/
footer {
    background-color: rgb(61, 61, 61);
    grid-row: 3/4;
}

#categories, #product-list {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 40px;
    grid-auto-rows: max-content;
    margin-bottom: 3em;
}

#categories h1 {
    font-family: "Copperplate", fantasy;
    font-style: italic;
    font-weight: lighter;
    color: #7ea9b0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0, 1px 1px 0 #000;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#product-list li {
    display: grid;
    list-style-type: none;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
    border-color: #a9ccd279;
    border-style: solid;
    background: #a9ccd209;
    font-family: "Verdana", sans-serif;
    font-weight: lighter;
}

p {
    color: black;
    font-family: "Verdana", sans-serif;
    text-shadow: 0px 1px;
}

b {
    color: #aa665b;
    font-family: "Verdana", sans-serif;
    font-style: italic;
    text-shadow: 0px 1px;
}

#sub-category-select {
    border-radius: 12px;
    border: 2px solid #2d9fd9;
    width: 7%;
    height: 30px;
    text-align: center;
}

#filter {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

* {
    box-sizing: border-box;
  }
  
/* Button used to open the contact form - fixed at the bottom of the page */
#open-button, #log-out {
    background-color: #37aab9;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: auto;
}
  
/* The popup form - hidden by default */
.form-popup {
  display: none;
      position: fixed;
      left: 50%;
      top: 20%;
      transform: translate(-50%, 5%);
      border: 3px solid #999999;
      z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, #open-button:hover, #add-to-cart:hover {
  opacity: 1;
}

#login-div b {
  color: #000;
  font-style: normal;
}

#log-out {
    display: none;
}

#invalid_data {
    font-family: paragraphFont;
    font-weight: normal;
    color: red;
}

#add-to-cart {
    background-color: var(--blue);
    color: white;
    padding: 16px 20px;
    font-size: medium;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--blue);
    color: white;
  }
  
  table tr {
    text-align: center;
  }